<h1>註冊會員</h1>

<div>
  <%= form_with(model: @users, data { false }) do |f| %>
    <div>
      <%= f.label "使用者暱稱" :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label "E-mail" :email %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label "密碼" :password %>
      <%= f.password_field :password %>
    </div>
    <%# 密碼確認不需要增加欄位 %>
    <div>
      <%= f.label "再次確認密碼" :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit %>
  <% end %>
</div>