<h1>註冊會員</h1>

<div>
  <%= form_with(model: @user, data: { turbo: false }) do |f| %>
    <div>
      <%= f.label :name, "使用者暱稱" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :password, "密碼" %>
      <%= f.password_field :password %>
    </div>
    <%# 密碼確認不需要增加欄位 %>
    <div>
      <%= f.label :password_confirmation, "再次確認密碼" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "註冊帳號", class: 'action-btn' %>
  <% end %>
</div>